# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

# vscode
.vscode/
.history/

# github (如不需要追踪则保留，需要 Actions 则删除)
.github/